body
{
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
#progress-container {
    width: 635px;
}

#progress-bar {
    width: 100%;
    height: 30px;
    background-color: #ddd;
    position: relative;
}

#bar {
    height: 100%;
    width: 0;
    background-color: #4caf50;
}
img
{
    width: 100%;
    height: 300px;
    display: block;
    max-height: 100%;
    max-width: 100%;
    object-fit:contain;
}
#countdown {
    text-align: center;
    margin-top: 10px;
    color: white;
}
#MainOptions
{
    background-color: #141414;
    width: 100%;
    align-items: center;
    align-content: center;
}
h1
{
    color: white;
}
.OptionButton
{
    height: 100px;
    width: 295px;
    background-color: #111111; 
    display:inline-block;
    border: 0px;
    margin-left: 2px;
    margin: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    cursor: pointer;
}
.OptionButton:hover
{
    background-color: #161616; 
}
#timer {
    font-size: 2em;
    font-weight: bold;
    color: white;
}
#counter
{
    font-size: 2em;
    font-weight: bold;
    color: white;
    float: right;
}
ul
{
    list-style: none;
    margin: auto;
    padding: 0;
}
.OptionType
{
    display: none;
}
#OptionType2
{
    margin: auto;
    width: 50%;
    height: 120px;
    align-items: center;
    align-content: center;
}
#InputField
{
    display: block;
    background-color: #111111;
    border: 1px white white;
    border-style:dashed;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 3rem;
    margin-top: 50px;
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#InputField:focus
{
    border-color: white;
    outline: none;
}
#SkipButton
{
    display: block;
    background-color: #04AA6D;
    border: none;
    color: white;
    text-align:center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
#rightAnswer
{
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    top: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    color: #f55142;
}